# Python / Virtual Environment
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS Specific
.DS_Store
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Streamlit local config
.streamlit/config.toml