# Python / Virtual Environment
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data files (Empêche d'envoyer des gros datasets bruts)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/